<h1>Projects#index</h1>

<%= link_to "New Project", new_project_path %> 
<br>
<%= render @projects %>

<% @projects.each do |project| %>
  <h1><%= link_to project.desc, project %></h1>
  	<p>
   	 <%= markdown(project.desc) %>
  	</p>
  <% if post != @projects.last %>
  <hr/>
  <% end %>
<% end %>