<h1>Project Show Page</h1>

  <%= render @project %>

<br>


<%= link_to "Back", projects_path %> |
<% if @user.id == @project.user_id %>
<%= link_to "Edit", edit_project_path(@project) %> |
<%= link_to "Destroy", @project, method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>


