<!DOCTYPE html>
<html>
  <head>
    <title>ShowMe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="sticky-header"> 
      <div class="container clearfix"> 
        <div class="row"> <div class="col-xs-9 col-md-8"> 
          <div class="header-logo"> 
            <a href="/"> 
              <img src="app/assets/images/spartalogo.png" alt="Sparta Global" class="img-responsive"></a> 
            </div> 
          </div> 
          <div class="col-xs-3 col-md-4"> 
            <div class="menu-toggle"> <a class="btn-open" href="#" title="Sparta Navigation"></a> 
            </div> 
          </div> 
        </div> 
      </div> 
    </header>

  	<!-- look like sparta please -->
    <%= yield %>
  </body>
</html>
